Repository GeekOpsUA/k8s-hard-way-ansible, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Searge, @geekopsua/cloud-devs, @geekopsua/devops-geeks, @mergify, @dependabot

.github/CODEOWNERS:

# The owners of the repository
* @Searge

# The owners of .github & .config directories
/.github/ @geekopsua/cloud-devs
/.config/ @geekopsua/cloud-devs

# The owners of application code and documentation
/ansible/ @geekopsua/cloud-devs @geekopsua/devops-geeks
/docs/ @geekopsua/cloud-devs @geekopsua/devops-geeks
/scripts/ @geekopsua/cloud-devs @geekopsua/devops-geeks

# The owners of /requirements.txt
/requirements.txt @Searge @mergify @dependabot

refactor: Rename files and directories for better organization
  ansible/files/certs/.keep
  ansible/files/configs/.zprofile
  ansible/files/configs/.zshenv
  ansible/files/configs/.zshrc
  ansible/files/configs/tmux.conf
  ansible/files/configs/vimrc
  ansible/inventory/group_vars/vagrant.yml
  ansible/tasks/setup_dotfiles.yml
Owners: @geekopsua/cloud-devs, @geekopsua/devops-geeks

refactor(ssh): Remove extra space
  ssh.cfg
Owners: @Searge

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Owners: @Searge, @mergify, @dependabot

fix: requirements.txt to reduce vulnerabilities (#65)
  requirements.txt
Owners: @Searge, @mergify, @dependabot

chore: Skip security updates
  .github/dependabot.yml
Owners: @geekopsua/cloud-devs

chore: Skip security updates (#77)
  .github/dependabot.yml
Owners: @geekopsua/cloud-devs

chore: Add permissions for lint-ansible.yml
  .github/workflows/lint-ansible.yml
Owners: @geekopsua/cloud-devs

chore: Add permissions for lint-ansible.yml (#78)
  .github/workflows/lint-ansible.yml
Owners: @geekopsua/cloud-devs

feat: Create check-python.yml
  .github/workflows/check-python.yml
Owners: @geekopsua/cloud-devs

feat: Create check-python.yml (#79)
  .github/workflows/check-python.yml
Owners: @geekopsua/cloud-devs

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Owners: @Searge, @mergify, @dependabot

fix: requirements.txt to reduce vulnerabilities (#90)
  requirements.txt
Owners: @Searge, @mergify, @dependabot

feat: add Auto approve PR from Dependabot
  .github/workflows/auto-approve.yml
Owners: @geekopsua/cloud-devs

feat: Update minor only
  .github/dependabot.yml
Owners: @geekopsua/cloud-devs

feat: Add permissions for auto-approve.yml
  .github/workflows/auto-approve.yml
Owners: @geekopsua/cloud-devs

fix: Move labels to the top
  .github/dependabot.yml
Owners: @geekopsua/cloud-devs

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Owners: @Searge, @mergify, @dependabot

fix: requirements.txt to reduce vulnerabilities (#138)
  requirements.txt
Owners: @Searge, @mergify, @dependabot
